# trash
.idea/
__pycache__/
.git/
# datasets
WIDER_train/
12/
24/
48/
lfw_5590/
net_7876/
testImageList.txt
trainImageList.txt
logs/
shape_predictor_68_face_landmarks.dat
# code
db/
project_tree.py
encryption.py
# reports
assets/
